# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr
out/

# ========================
# Maven
# ========================
target/

# ========================
# Logs & Java
# ========================
*.log
*.class

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Temporary files
# ========================
*.tmp
*.temp

# ========================
# Generated documents
# ========================
*.docx
